
#container {
    min-height: 100%;
    padding: 100px 00px;
    background: #444C63;
    background: -webkit-linear-gradient(#444C63, #B17986, #374553);
    background: -o-linear-gradient(#444C63, #B17986, #374553);
    background: -moz-linear-gradient(#444C63, #B17986, #374553);
    background: linear-gradient(#444C63, #B17986, #374553);
}

.row {
    max-width: 84rem;
}

#content {
    height: 100%;
    min-height: 100%;
    min-height: 100%;
    background: #ecf0f1;
    background: #4E6378;
}

#sidebar {
    background: #4E6378;
    min-height: 100%;
}

#sidebar {
    height: 100%;
}

#sidebar .menu{
    margin-left: -15px;
    margin-right: -15px;
}

#sidebar .logo {
    text-align: center;
    padding: 10px;
}

#sidebar .logo img{
    width: 80px;
}

#sidebar ul li a {
    padding-left: 15px;
    color: #ddd;
}

#sidebar ul li a i{
    width: 30px;
    font-size: 20px;
    color: deepskyblue
}

.acc_details {
    padding-top: 300px;
}

.acc_details p{
    padding: 0;
    margin: 10px 0;
    color: #eee;
    font-weight: bolder;
}

.progress {
    height: 7px;
    background: #888;
    margin-bottom: 60px !important;
}

.acc_details a{
    padding: 15px 34px;
    width: 100%;
    border: 2px solid deepskyblue;
    border-radius: 5px;
    color: #ddd;
}

#page-content {
    height: auto;
    background: #eee;
}

.photos img {
    height: 150px;
}

.search {
    color: #999;
}

.search i{
    color: #999;
    padding-right: 5px;
}

.photos p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    padding: 3px;
}

.photos p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    padding: 3px;
}

#page-content .row {
    
}

.header-photo {
    padding: 0px;
    padding-left: 15px;
    padding-top: 10px;
}

.header-photo p {
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #999;
}

.selectors {
    text-align: right;
    padding-right: 0px;
    padding: 10px 0;
}

.selectors a{
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 13px;
}

.active {
    background: #444C63;
}

.header-top {
    border-bottom: 1px dotted #ddd;
    font-size: 13px;
    padding: 15px 0;
}

.header-bottom {
    padding: 5px 0;
    border-bottom: 2px solid #ddd;
}

.name {
    text-align: right;
}

.name i{
    padding-right: 10px;
    color: #999;
}

.top-actions {
    list-style: none;
    display: inline-block;
    padding: 10px 0;
    margin: 0;
    height: 100%;
    margin-left: -15px;
}

.top-actions li{
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}

.top-actions li:first-of-type{
    padding-left: 15px;
}

.col-x-5 {
    width: 20%;
    float: left;
    padding: 15px;
    border: 0px dotted;
    position: relative;
}


.col-x-5 {
    width: 100%;
    float: left;
}

.image-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 50% !important;
}

.image-container img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
}

@media (min-width: 360px) {
    .col-x-5 {
        width: 50%;
        float: left;
    }
    
    .image-container {
        position: relative;
        overflow: hidden;
        padding-bottom: 50% !important;
    }
    
    .image-container img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
    }
}

@media (min-width: 700px) {
    .col-x-5 {
        width: 33.33%;
        float: left;
    }
    
    .image-container {
        position: relative;
        overflow: hidden;
        padding-bottom: 50% !important;
    }
    
    .image-container img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
    }
}

@media (min-width: 1000px) {
    .col-x-5 {
        width: 25%;
        float: left;
    }
    
    .image-container {
        position: relative;
        overflow: hidden;
        padding-bottom: 70% !important;
    }
    
    .image-container img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .col-x-5 {
        width: 20%;
        float: left;
    }
    
    .image-container {
        position: relative;
        overflow: hidden;
        padding-bottom: 70% !important;
    }
    
    .image-container img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
    }
}

.size, .img_name {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 10px;
}

/* item styles */
.item-container {
    border: 1px solid #dde;
    padding: 2px;
    background: #fff;
}

.item-container:hover {
    background: #eee;
    cursor: pointer;
}

.item-container:hover .image-details-container{
    background: #ddd;
    cursor: pointer;
}

.image-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 70%;
}

.image-container img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.image-details-container {
    padding: 0px;
    background: #eee;
    margin-top: 2px;
}
.image-details {
    position: relative;
    overflow: hidden;
    height: auto;
    padding: 5px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}