html, body {
    background: #ecf0f1;
    height: 100%;
    width: 100%;
    margin:0;
	padding:0;
}

p, h1, h2, h3, h4, h5, h6, ul, li, a {
    padding: 0;
    margin: 0;
    color: #000;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*....................................................................................................................

Responsive Grid Section

....................................................................................................................*/

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
 
/* Attribute selector */
[class*='col-'] {
  float: left;
  padding: 15px;
}
 
/* Floats last ".col-" to the right */
[class*='col-']:last-of-type {
  padding-right: 10px;
  float: right;
}
 
.row {
    width: 100%;
    clear: both;
}

/* Clearfix */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* For Phones: */
@media only screen and (max-width: 480px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    [class*="col-m"] {
        
    }
}

/* For tablets: */
@media only screen and (min-width: 480px) and (max-width: 1000px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    [class*="col-m"] {
        
    }
}

/* For Desktops: */
@media only screen and (min-width: 1000px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    [class*="col-"] {
        
    }
}

#container {
    width: 100%;
    min-height: 100%;
    height: 100%;
}

/*....................................................................................................................

Header Section

....................................................................................................................*/

#header {
	width:100%;
	height:0px;
    color: #fff;
    padding: 0;
    margin: 0;
}


/*....................................................................................................................

Content Section

....................................................................................................................*/

#content {
    min-height: 100%;
    height: 100%;
    display: inline-block;
    width: 100%;
    
}

.left {
    overflow: hidden;
    min-height: 50px;
    border: 2px dashed #f0f
}

.right {
    float: right;
    width: 50px;
    min-height: 50px;
    margin-left: 10px;
    border: 2px dashed #00f
}

#sidebar {
    height: 100%;
    background: red;
    width: 300px;
    float: left;
}

#page-content {
    height: 100%;
    min-height: 100px;
    margin-left: 300px;
    background: blue;
}

/*....................................................................................................................

Footer Section

....................................................................................................................*/

#footer {
    height: 0px;
    width: 100%;
    color: #fff;
}